// Media queries
$mobile: max-width 600px;
$tablet: max-width 1000px;

// Global styling
body {
  background-color: $light_gray;
  box-sizing: border-box;
  font-family: "proxima-nova-soft", sans-serif;
}

div {
  overflow: auto;
}

p, button {
  font-size: 16px;
}

.section {
  @include outer-container(50%);

  @include media($tablet) {
    @include outer-container(75%);
  }
  @include media($mobile) {
    @include outer-container(100%);
  }

  .text-right {
    text-align: right;
  }
}
