form {
  input, label, textarea {
    font-size: 16px;
  }

  input, textarea {
    padding: 10px;
    width: 100%;
    margin-top:5px;
    margin-bottom: 10px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  textarea {
    resize: none;
    height: 75px;
  }
}
