<!DOCTYPE html>
<html>
  <head>
    <title>SocialTimelineMockup</title>
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/mls7wzh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.fontawesome.com/f60387871f.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
